.productCard {
    max-width: 16.6%;
}

.productCardImageSection {
    width: 190px;
    height: 190px;
    position: relative;
}

.productCardProductImage {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.productCardXLDHWrapper {
    position: absolute;
    left: -3;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80px;
    height: 26px;
}

.productCardXLDHMask {
    height: inherit;
    width: 100%;
    font-size: 0.75rem;
    line-height: 0.875rem;
    padding: 0.1875rem 0.25rem;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.productCardCoverImage77 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.productCardXLDHMask:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.1875rem;
    border-top: 0.1875rem solid;
    border-left: 0.1875rem solid transparent;
    filter: brightness(60%);
}

.productCardSubImage {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}
