.shopProducts {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.shopProductsMask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.shopProductsIcon {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin-right: 7px;
}

.shopProductsLeft {
    flex: 1;
    padding-right: 12.5px;
    max-width: 16.6%;
}

.shopProductsInfoContainer {
    position: relative;
    height: 215px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    overflow: hidden;
}

.shopProductsShopLogoBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(2px);
}

.shopProductsActiveTime {
    display: block;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.7);
    margin: 8px 0;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 17px;
    z-index: 1;
}

.shopProductsMenuFilterBar {
    background: #fff;
    padding: 0 1.25rem 1.25rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
}

.shopProductsCategoryItem:first-child {
    padding-top: 0;
}

.shopProductsCategoryItem {
    padding: 10px 0;
    display: flex;
}

.shopProductsRight {
    flex: 5;
    max-width: 83.4%;
}

.shopProductsOptionTitle {
}

.shopProductsFilterBar {
    display: flex;
    align-items: center;

    padding: 16.25px 25px;
    font-weight: 400;
    background: #ededed;
    border-radius: 2px;
}

.shopProductsSortOption.shopProductsSelectedOption {
    background-color: rgb(238, 77, 45);
    color: #fff;
}

.shopProductsPriceOption {
    width: 193px;
    height: 43px;
    padding: 5px 10px;
    outline: none;
    border-radius: 2px;
    background: #fff;
    text-transform: capitalize;
    font-size: 18px;
    margin-left: 12.5px;
    font-weight: 400;
    color: #333;
    border: 0;
}

.shopProductsPaging {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    width: 2.25rem;
    height: 2.125rem;
    border-radius: 2px;
    background: #fff;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopProductsPageDisplay {
    margin-right: 25px;
    font-size: 18px;
}

.shopProductsPageDisplay span {
    font-size: 18px;
    color: #d0011b;
}

.shopProductsDropDownOption span {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopProductsFilterOptionDropDown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
}

.shopProductsFilterOptionDropDown:hover span {
    color: #ee4d2d;
}

.checked {
    color: #ffce3d !important;
    width: 15px;
    height: 15px;
}

.unchecked {
    width: 15px;
    height: 15px;
}

.yellowStar {
    color: #ffce3d;
    width: 15px;
    height: 15px;
}

.shopProductsPriceFilterContainer input {
}

.shopProductsRatingFilter {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 12.5px 0;
}

.shopProductsRatingFilter span {
    align-self: center;
}

.shopProductsFilterOptionDropDown span {
    display: inline-block;
}

.shopProductsSvgIcon {
    width: 13px;
    height: 13px;
    fill: #ccc;
}

.shopProductsDropDowniCcon {
    width: 15px;
    height: 18px;
    margin-right: 15px;
}

.shopProductsDropDownIcon {
    width: 15px;
    height: 18px;
    margin-right: 15px;
    fill: #ee4d2d;
    opacity: 0;
}

.shopProductsDropDownIcon.active {
    opacity: 1;
}

.selectedTab {
    color: rgb(208, 1, 27) !important;
}
