.shopProducts {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.shopProductsMask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.shopProductsIcon {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 7px;
}

.shopProductsLeft {
    flex: 1;
    padding-right: 12.5px;
    max-width: 16.6%;
}

.shopProductsShopLogo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.shopProductsSM {
    position: absolute;
    width: 64px;
    height: 14px;
    top: 51%;
    left: 32%;
}

.shopProductsInfoContainer {
    position: relative;
    height: 215px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    overflow: hidden;
}

.shopProductsShopLogoBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    filter: blur(2px);
}

.shopProductsShopName {
    text-align: center;
    margin-top: 6.25px;
    font-size: 18px;
    z-index: 1;
    color: #fff;
    position: absolute;
    top: 58%;
    width: 100%;
}

.shopProductsActiveTime {
    display: block;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.7);
    margin: 8px 0;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 17px;
    z-index: 1;
}

.shopProductsMenuFilterBar {
    background: #fff;
    padding: 0 1.25rem 1.25rem;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-radius: 0.125rem;
    overflow: hidden;
}

.shopProductsListFilter {
    list-style: none;
}

.shopProductsItemFilter {
    display: block;
    padding: 12.5px 0;
    font-size: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

.shopProductsItemFilter:hover {
    text-decoration: underline;
    color: #ee4d2d;
}

.shopProductsFilterTitle {
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1.75rem 0 2.25rem;
}

.shopProductsCategoryFilter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.shopProductsCategoryItem:first-child {
    padding-top: 0;
}

.shopProductsCategoryItem {
    padding: 10px 0;
    display: flex;
}

.shopProductsInputWrapper {
    margin-top: 1.25px;
    margin-right: 12.5px;
    display: flex;
    align-items: flex-start;
}

.shopProductsInputWrapper input {
    margin-top: 2.25px;
    width: 15px;
    height: 15px;
}

.shopProductsInputWrapper input:checked {
    background-color: #fff;
    color: orange;
}

.shopProductsInputWrapper input:hover {
    background-color: #ccc;
}

.shopProductsLabelWrapper {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1rem;
    max-height: 3rem;
    word-wrap: break-word;
}

.shopProductsLabelWrapper label {
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.54);
}

.shopProductsShopCategories {
}

.shopProductsRight {
    flex: 5;
    max-width: 83.4%;
}

.shopProductsOptionTitle {
    color: #555;
    font-size: 18px;
    font-weight: 400;
}

.shopProductsFilterBar {
    display: flex;
    align-items: center;

    padding: 16.25px 25px;
    font-weight: 400;
    background: #ededed;
    border-radius: 2px;
}

.shopProductsSortOption {
}

.shopProductsSortOption.shopProductsSelectedOption {
    background-color: rgb(238, 77, 45);
    color: #fff;
}

.shopProductsPriceOption {
    width: 193px;
    height: 43px;
    padding: 5px 10px;
    outline: none;
    border-radius: 2px;
    background: #fff;
    text-transform: capitalize;
    font-size: 18px;
    margin-left: 12.5px;
    font-weight: 400;
    color: #333;
    border: 0;
}

.shopProductsPaging {
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    width: 2.25rem;
    height: 2.125rem;
    border-radius: 2px;
    background: #fff;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopProductsPageDisplay {
    margin-right: 25px;
    font-size: 18px;
}

.shopProductsPageDisplay span {
    font-size: 18px;
    color: #d0011b;
}

.shopProductsDropDownOption {
    width: 250px;
    height: 43px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    margin-left: 12.5px;
}

.shopProductsDropDownOption:hover .shopProductsFilterOptionDropDownModal {
    display: block;
    z-index: 2;
}

.shopProductsDropDownOption span {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopProductsFilterOptionDropDownModal {
    width: 250px;
    background: #fff;
    position: absolute;
    top: 106%;
    left: 0;
    display: none;
}

.shopProductsBtnApplyFilter {
}

.shopProductsFilterOptionDropDown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 100%;
    cursor: pointer;
}

.shopProductsFilterOptionDropDown:hover span {
    color: #ee4d2d;
}

.shopProductsPriceFilterWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopProductsPriceRange {
    width: 53px;
    height: 38px;
}

.checked {
    color: #ffce3d !important;
    width: 15px;
    height: 15px;
}

.unchecked {
    width: 15px;
    height: 15px;
}

.yellowStar {
    color: #ffce3d;
    width: 15px;
    height: 15px;
}

.shopProductsPriceFilterContainer input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    border: 1px solid #888;
    font-size: 15px;
    border-radius: 3px;
}

.shopProductsRatingFilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12.5px 0;
}

.shopProductsRatingFilter span {
    align-self: center;
}

.shopProductsFilterOptionDropDown span {
    display: inline-block;
}

.shopProductsSvgIcon {
    width: 13px;
    height: 13px;
    fill: #ccc;
}

.shopProductsDropDowniCcon {
    width: 15px;
    height: 18px;
    margin-right: 15px;
}

.shopProductsDropDownIcon {
    width: 15px;
    height: 18px;
    margin-right: 15px;
    fill: #ee4d2d;
    opacity: 0;
}

.shopProductsDropDownIcon.active {
    opacity: 1;
}

.selectedTab {
    color: rgb(208, 1, 27) !important;
}
